table , th, td {
       border: 1px solid lightgrey ;
	   color:#333;
}
	 
td{
	    width:40px; 
		height:40px;
}
	
#top{background: rgb(0, 153, 255); 
        background: -webkit-linear-gradient(left, rgb(0, 153, 255) , rgb(0, 102, 204));
        background: -o-linear-gradient(right, rgb(0, 153, 255), rgb(0, 102, 204)); 
        background: -moz-linear-gradient(right, rgb(0, 153, 255), rgb(0, 102, 204));
        background: linear-gradient(to right, rgb(0, 153, 255) , rgb(0, 102, 204));  color:white; 
}
	
